{{#layout}}
	<style>
  		.tbl { border-collapse: collapse; text-align: center; }
  		.tbl th, .tbl td { padding: 5px; border: solid 1px #777; text-align: center;}
  		.tbl th { background-color: lightblue; text-align: center;}
	</style>

    <div class="container theme-showcase">
	    
    	<div class="page-header">
	    	<h1>Equipos</h1>
	    </div>
	    <div class="container theme-showcase">
	    	
				<table class="tbl" style="width:300px;">
					<tr>
						<th>Nombre del equipo</th>
						<th>Gestionar</th>
						{{#equipos}}
						<tr>
							<td><a href="/equipo/{{nombre}}">{{nombre}}</a></td>
	    					<td><a href="/equipos/delete/{{nombre}}"><span class="btn btn-danger">Borrar</span></a></td>
	  					</tr>
	  					{{/equipos}}
	  				</tr>
				</table>
			
			{{^equipos}}
				<br>
				<p>"Actualmente existe ningún equipo."</p>
			{{/equipos}}
		</div>
    </div><!-- /.container -->
  
{{/layout}}