{{#layout}}
		<div class="container theme-showcase">		
			<form class="form-horizontal" action="/equipo/nuevo" method="post">
			 
			 <h2>Creando nuevo equipo para el delegado {{userName}}</h2>
			 
			 <br>
			 
			  <div class="form-group">
			    <label for="nombre" class="col-sm-2 control-label">Nombre del equipo: </label>
			    <div class="col-sm-2">
			      <input type="text" class="form-control" placeholder="nombre" name="nombre" required/>
			    </div>
			  </div>
			  
			  <br><br>
			  
			  <div class="form-group">
			    <label for="nombre" class="col-sm-2 control-label">Email de contacto: </label>
			    <div class="col-sm-2">
			      <input type="text" class="form-control" placeholder="correo" name="correo" required/>
			    </div>
			  </div>
			  
			  <br><br>
			  
			  <div class="form-group">
			    <label for="nombre" class="col-sm-2 control-label">Teléfono de contacto: </label>
			    <div class="col-sm-2">
			      <input type="text" class="form-control" placeholder="telefono" name="telefono" required/>
			    </div>
			  </div>
			  
			  <br><br>
			  
			  <input type="hidden" name="nombredelegado" value="{{userName}}"/>
			  
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <input type="hidden" name="_csrf" value="{{token}}"/>
			      <input type="submit" class="btn btn-success" value="Guardar"/>
			      <a href="/" class="btn btn-danger">Cancelar</a>
			    </div>
			  </div>
			</form>
	    </div><!-- /.container -->
{{/layout}}