{{#layout}}
    
    <div class="container theme-showcase">
   		
		<form class="form-horizontal" action="/registro/save" method="post">
		  <div class="form-group">
		    <label for="nombre" class="col-sm-2 control-label">Nombre de usuario:</label>
		    <div class="col-sm-2">
		      <input type="text" class="form-control" placeholder="nombre" name="name" required/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="contraseña" class="col-sm-2 control-label">Contraseña:</label>
		    <div class="col-sm-2">
		      <input type="password" class="form-control" placeholder="contraseña" name="encodedPassword" required/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="email" class="col-sm-2 control-label">Email:</label>
		    <div class="col-sm-2">
		      <input type="text" class="form-control" placeholder="email" name="email" required/>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-success" value="Save">Enviar</button>
		      <input type="hidden" name="_csrf" value="{{token}}" />
		    </div>
		  </div>
		</form>

    </div><!-- /.container -->

{{/layout}}