{{#layout}}
	<div class="container theme-showcase">
   				
		<form class="form-horizontal" action="/torneos/editar" method="post">
		  <div class="form-group">
		    <label for="nombrenuevo" class="col-sm-3 control-label">Nombre del torneo: </label>
		    <div class="col-sm-offset-3">
		      <input type="hidden" name="nombreactual" value="{{nombre}}"/>
		      <input name="nombre" style="width: 200px" class="form-control" value="{{nombre}}"  id="nombrenuevo" required/>
		      <input type="hidden" name="id" value="{{torneo.id}}"/>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label for="ganador" class="col-sm-3 control-label">Ganador del torneo: </label>
		    <div class="col-sm-offset-3">
				<input list="equipos" name="ganador">
				<datalist id="equipos">
				{{#equipos}}
  					<option value="{{nombre}}">
  				{{/equipos}}
				</datalist>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <div class="col-sm-offset-3">
		      <input type="hidden" name="_csrf" value="{{token}}"/>
		      <input type="submit" class="btn btn-success" value="Guardar"/>
		      <a href="/torneos/{{torneo.nombre}}" class="btn btn-danger">Cancelar</a>
		    </div>
		  </div>
		</form>
		
    </div><!-- /.container -->
{{/layout}}